* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "oswald";
}
/* ul{
  padding: 0;
  margin: 0;
} */

html {
  scroll-behavior: smooth;
}

:root {
  /* color option 1 */

  /* --maincolor: #1567728e;
  --item-background: #ffffff;
  --main-background: #e5e8e9; */

  /* color option 2 */

   --maincolor: rgba(212, 30, 30, 0.637);
    --item-background: #ffffff;
    --main-background: #e5e8e9;
}

/* ----------------------------navbar -------------------------------------*/
.nav-link,
.navbar-brand {
  color: #fff;
}

.dropdown-item {
  color: grey;
}

.dropdown-item:focus,
.dropdown-item:hover,
.navbar-brand:hover,
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: var(--maincolor)!important;
}
.navbar-brand:focus,
.navbar-brand:active{
  color: #fff;
}
.navbar-main {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-toggler-icon {
  display: inline;
  color: #fff;
}

.navbar-toggle {
  visibility: hidden;
  background: none;
}



@media only screen and (max-width: 62.1875rem) {
  .navbar-toggler-icon {
    display: block;
    border: none;
    color: #fff;
  }

  .navbar-toggle {
    visibility: visible;
    border: none;
  }
}

/* ------------------------------navbar ---------------------------------*/
/* ------------------------------HEADER--------------------------------- */
header {
  background-image: url(../img/hero-bg.jpg);
  height: 100vh;
  position: relative;
  color: #fff;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

header h1 {
  align-items: center;
  font-weight: 600;
  font-size: 5vw;
  font-family: "Assistant", sans-serif;
}

header .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header span {
  font-size: 3.125rem;
  height: 1rem;
}

header .overlay span::after {
  content: "";
  animation: change 22s alternate ease-in-out infinite;
}

@keyframes change {
  1% {
    content: "D|";
  }

  2% {
    content: "De|";
  }

  3% {
    content: "Des|";
  }

  4% {
    content: "Desi|";
  }

  5% {
    content: "Desig|";
  }

  6% {
    content: "Design|";
  }

  7% {
    content: "Designe|";
  }

  8% {
    content: "Designer|";
  }

  9% {
    content: "Designe|";
  }

  10% {
    content: "Design|";
  }

  11% {
    content: "Desig|";
  }

  12% {
    content: "Desi|";
  }

  13% {
    content: "Des|";
  }

  14% {
    content: "De|";
  }

  15% {
    content: "D|";
  }

  16% {
    content: "|";
  }

  17% {
    content: "D|";
  }

  18% {
    content: "De|";
  }

  19% {
    content: "Dev|";
  }

  20% {
    content: "Deve|";
  }

  21% {
    content: "Devel|";
  }

  22% {
    content: "Develo|";
  }

  23% {
    content: "Develop|";
  }

  24% {
    content: "Develope|";
  }

  25% {
    content: "Developer|";
  }

  26% {
    content: "Develope|";
  }

  27% {
    content: "Develop|";
  }

  28% {
    content: "Develo|";
  }

  29% {
    content: "Devel|";
  }

  30% {
    content: "Deve|";
  }

  31% {
    content: "Dev|";
  }

  32% {
    content: "De|";
  }

  33% {
    content: "D|";
  }

  34% {
    content: "|";
  }

  35% {
    content: "F|";
  }

  36% {
    content: "Fr|";
  }

  37% {
    content: "Fre|";
  }

  38% {
    content: "Free|";
  }

  39% {
    content: "Freel|";
  }

  40% {
    content: "Freela|";
  }

  41% {
    content: "Freelan|";
  }

  42% {
    content: "Freelanc|";
  }

  43% {
    content: "Freelance|";
  }

  44% {
    content: "Freelancer|";
  }

  45% {
    content: "Freelance|";
  }

  46% {
    content: "Freelanc|";
  }

  47% {
    content: "Freelan|";
  }

  48% {
    content: "Freela|";
  }

  49% {
    content: "Freel|";
  }

  50% {
    content: "Free|";
  }

  51% {
    content: "Fre|";
  }

  52% {
    content: "Fr|";
  }

  53% {
    content: "F|";
  }

  54% {
    content: "|";
  }

  55% {
    content: "P|";
  }

  56% {
    content: "Ph|";
  }

  57% {
    content: "Pho|";
  }

  58% {
    content: "Phot|";
  }

  59% {
    content: "Photo|";
  }

  60% {
    content: "Photog|";
  }

  61% {
    content: "Photogr|";
  }

  62% {
    content: "Photogra|";
  }

  63% {
    content: "Photograp|";
  }

  64% {
    content: "Photographe|";
  }

  65% {
    content: "Photographer|";
  }

  66% {
    content: "Photographe|";
  }

  67% {
    content: "Photograph|";
  }

  68% {
    content: "Photograp|";
  }

  69% {
    content: "Photogra|";
  }

  70% {
    content: "Photogr|";
  }

  71% {
    content: "Photog|";
  }

  72% {
    content: "Photo|";
  }

  73% {
    content: "Phot|";
  }

  74% {
    content: "Pho|";
  }

  75% {
    content: "Ph|";
  }

  76% {
    content: "P|";
  }

  77% {
    content: "U|";
  }

  78% {
    content: "U |";
  }

  79% {
    content: "U X|";
  }

  80% {
    content: "U X |";
  }

  81% {
    content: "U X /|";
  }

  82% {
    content: "U X / |";
  }

  83% {
    content: "U X / U|";
  }

  84% {
    content: "U X / U |";
  }

  85% {
    content: "U X / U I|";
  }

  86% {
    content: "U X / U I |";
  }

  87% {
    content: "U X / U I|";
  }

  88% {
    content: "U X / U |";
  }

  89% {
    content: "U X / U|";
  }

  90% {
    content: "U X / |";
  }

  91% {
    content: "U X /|";
  }

  92% {
    content: "U X |";
  }

  93% {
    content: "U X|";
  }

  94% {
    content: "U |";
  }

  95% {
    content: "U|";
  }

  96% {
    content: "|";
  }

  97% {
    content: "|";
  }

  98% {
    content: "|";
  }

  99% {
    content: "|";
  }

  100% {
    content: "|";
  }
}

/* ------------------------------HEADER--------------------------------- */
/*-------------------------------ABOUT-----------------------------------*/
#about .about-img img {
  box-shadow: 0.3125rem 0.3125rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.55);
}

#about .about-section {
  background-color: var(--item-background);
  margin: 1.875rem 0rem;
  margin: auto;
  position: relative;
  box-shadow: 0.3125rem 0.3125rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.06),
    0.3125rem 0.3125rem 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.about-sec {
  background-color: var(--main-background);
}

#about .title-box-2 {
  position: relative;
}

.progress-bar {
  background-color: var(--maincolor);
}

.about-line:before {
  content: "";
  position: absolute;
  height: 0.1875rem;
  background-color: var(--maincolor);
  width: 5rem;
  top: 25;
}

/*-------------------------------ABOUT-----------------------------------*/
/* ------------------------------services------------------------------- */
.serv-sec {
  background-color: var(--main-background);
}

#services .line-blue {
  height: 3px;
  background-color: var(--maincolor);
  width: 80px;
  margin: auto;
}

#services .servbox {
  background-color: var(--item-background);
  margin: 30px 10px;
  padding-top: 20px;
  padding-bottom: 0.3125rem;
  border-radius: 1rem;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

#services .boxicon {
  padding-bottom: 20px;
}

#services .icon-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0px auto;
  text-align: center;
  box-shadow: 0 0 0 10px var(--maincolor);
  display: block;
}

#services .servbox:hover .icon-circle {
  background-color: var(--maincolor);
  box-shadow: 0 0 0 10px #c4d8ee;
}

#services .servbox:hover .icon-circle i {
  color: #fff;
}

#services .servbox:hover #services .boxcontent h3 {
  color: var(--maincolor);
}

#services .icon-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#services .boxcontent h3 {
  font-weight: 300;
}

#services .boxcontent p {
  font-weight: 300;
  padding: 0 10px;
}

/* ------------------------------services------------------------------- */
/* -------------------------------Counter------------------------------- */
/* coooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooounters */
.counter-num .count1 span::after {
  content: "527";
  animation: count 10s normal ease-in-out;
}

@keyframes count {
  1% {
    content: "1";
  }

  2% {
    content: "4";
  }

  3% {
    content: "9";
  }

  4% {
    content: "15";
  }

  5% {
    content: "20";
  }

  6% {
    content: "25";
  }

  7% {
    content: "31";
  }

  8% {
    content: "36";
  }

  9% {
    content: "41";
  }

  10% {
    content: "47";
  }

  11% {
    content: "52";
  }

  12% {
    content: "57";
  }

  13% {
    content: "63";
  }

  14% {
    content: "68";
  }

  15% {
    content: "73";
  }

  16% {
    content: "79";
  }

  17% {
    content: "84";
  }

  18% {
    content: "89";
  }

  19% {
    content: "95";
  }

  20% {
    content: "100";
  }

  21% {
    content: "105";
  }

  22% {
    content: "111";
  }

  23% {
    content: "116";
  }

  24% {
    content: "121";
  }

  25% {
    content: "127";
  }

  26% {
    content: "132";
  }

  27% {
    content: "137";
  }

  28% {
    content: "143";
  }

  29% {
    content: "148";
  }

  30% {
    content: "153";
  }

  31% {
    content: "159";
  }

  32% {
    content: "164";
  }

  33% {
    content: "169";
  }

  34% {
    content: "175";
  }

  35% {
    content: "180";
  }

  36% {
    content: "185";
  }

  37% {
    content: "191";
  }

  38% {
    content: "196";
  }

  39% {
    content: "201";
  }

  40% {
    content: "207";
  }

  41% {
    content: "212";
  }

  42% {
    content: "217";
  }

  43% {
    content: "223";
  }

  44% {
    content: "228";
  }

  45% {
    content: "233";
  }

  46% {
    content: "239";
  }

  47% {
    content: "244";
  }

  48% {
    content: "249";
  }

  49% {
    content: "255";
  }

  50% {
    content: "260";
  }

  51% {
    content: "265";
  }

  52% {
    content: "271";
  }

  53% {
    content: "276";
  }

  54% {
    content: "281";
  }

  55% {
    content: "287";
  }

  56% {
    content: "292";
  }

  57% {
    content: "297";
  }

  58% {
    content: "303";
  }

  59% {
    content: "308";
  }

  60% {
    content: "313";
  }

  61% {
    content: "319";
  }

  62% {
    content: "324";
  }

  63% {
    content: "329";
  }

  64% {
    content: "335";
  }

  65% {
    content: "340";
  }

  66% {
    content: "345";
  }

  67% {
    content: "351";
  }

  68% {
    content: "356";
  }

  69% {
    content: "361";
  }

  70% {
    content: "367";
  }

  71% {
    content: "372";
  }

  72% {
    content: "377";
  }

  73% {
    content: "383";
  }

  74% {
    content: "388";
  }

  75% {
    content: "393";
  }

  76% {
    content: "399";
  }

  77% {
    content: "404";
  }

  78% {
    content: "409";
  }

  79% {
    content: "415";
  }

  80% {
    content: "420";
  }

  81% {
    content: "425";
  }

  82% {
    content: "431";
  }

  83% {
    content: "436";
  }

  84% {
    content: "441";
  }

  85% {
    content: "447";
  }

  86% {
    content: "452";
  }

  87% {
    content: "457";
  }

  88% {
    content: "463";
  }

  89% {
    content: "468";
  }

  90% {
    content: "473";
  }

  91% {
    content: "479";
  }

  92% {
    content: "484";
  }

  93% {
    content: "489";
  }

  94% {
    content: "495";
  }

  95% {
    content: "500";
  }

  96% {
    content: "505";
  }

  97% {
    content: "511";
  }

  98% {
    content: "516";
  }

  99% {
    content: "521";
  }

  100% {
    content: "527";
  }
}

.counter-num .count2 span::after {
  content: "15";
  animation: count2 10s normal ease-in-out;
}

@keyframes count2 {
  1% {
    content: "1";
  }

  10% {
    content: "2";
  }

  20% {
    content: "3";
  }

  30% {
    content: "4";
  }

  40% {
    content: "5";
  }

  50% {
    content: "6";
  }

  60% {
    content: "7";
  }

  70% {
    content: "8";
  }

  80% {
    content: "9";
  }

  90% {
    content: "10";
  }

  100% {
    content: "15";
  }
}

.counter-num .count3 span::after {
  content: "550";
  animation: count3 10s normal ease-in-out;
}

@keyframes count3 {
  1% {
    content: "1";
  }

  2% {
    content: "4";
  }

  3% {
    content: "9";
  }

  4% {
    content: "15";
  }

  5% {
    content: "20";
  }

  6% {
    content: "25";
  }

  7% {
    content: "31";
  }

  8% {
    content: "36";
  }

  9% {
    content: "41";
  }

  10% {
    content: "47";
  }

  11% {
    content: "52";
  }

  12% {
    content: "57";
  }

  13% {
    content: "63";
  }

  14% {
    content: "68";
  }

  15% {
    content: "73";
  }

  16% {
    content: "79";
  }

  17% {
    content: "84";
  }

  18% {
    content: "89";
  }

  19% {
    content: "95";
  }

  20% {
    content: "100";
  }

  21% {
    content: "105";
  }

  22% {
    content: "111";
  }

  23% {
    content: "116";
  }

  24% {
    content: "121";
  }

  25% {
    content: "127";
  }

  26% {
    content: "132";
  }

  27% {
    content: "137";
  }

  28% {
    content: "143";
  }

  29% {
    content: "148";
  }

  30% {
    content: "153";
  }

  31% {
    content: "159";
  }

  32% {
    content: "164";
  }

  33% {
    content: "169";
  }

  34% {
    content: "175";
  }

  35% {
    content: "180";
  }

  36% {
    content: "185";
  }

  37% {
    content: "191";
  }

  38% {
    content: "196";
  }

  39% {
    content: "201";
  }

  40% {
    content: "207";
  }

  41% {
    content: "212";
  }

  42% {
    content: "217";
  }

  43% {
    content: "223";
  }

  44% {
    content: "228";
  }

  45% {
    content: "233";
  }

  46% {
    content: "239";
  }

  47% {
    content: "244";
  }

  48% {
    content: "249";
  }

  49% {
    content: "255";
  }

  50% {
    content: "260";
  }

  51% {
    content: "265";
  }

  52% {
    content: "271";
  }

  53% {
    content: "276";
  }

  54% {
    content: "281";
  }

  55% {
    content: "287";
  }

  56% {
    content: "292";
  }

  57% {
    content: "297";
  }

  58% {
    content: "303";
  }

  59% {
    content: "308";
  }

  60% {
    content: "313";
  }

  61% {
    content: "319";
  }

  62% {
    content: "324";
  }

  63% {
    content: "329";
  }

  64% {
    content: "335";
  }

  65% {
    content: "340";
  }

  66% {
    content: "345";
  }

  67% {
    content: "351";
  }

  68% {
    content: "356";
  }

  69% {
    content: "361";
  }

  70% {
    content: "367";
  }

  71% {
    content: "372";
  }

  72% {
    content: "377";
  }

  73% {
    content: "383";
  }

  74% {
    content: "388";
  }

  75% {
    content: "393";
  }

  76% {
    content: "399";
  }

  77% {
    content: "404";
  }

  78% {
    content: "409";
  }

  79% {
    content: "415";
  }

  80% {
    content: "420";
  }

  81% {
    content: "425";
  }

  82% {
    content: "431";
  }

  83% {
    content: "436";
  }

  84% {
    content: "441";
  }

  85% {
    content: "447";
  }

  86% {
    content: "452";
  }

  87% {
    content: "457";
  }

  88% {
    content: "463";
  }

  89% {
    content: "468";
  }

  90% {
    content: "473";
  }

  91% {
    content: "479";
  }

  92% {
    content: "484";
  }

  93% {
    content: "489";
  }

  94% {
    content: "495";
  }

  95% {
    content: "500";
  }

  96% {
    content: "505";
  }

  97% {
    content: "511";
  }

  98% {
    content: "516";
  }

  99% {
    content: "521";
  }

  100% {
    content: "550";
  }
}

.counter-num .count4 span::after {
  content: "49";
  animation: count4 10s normal ease-in-out;
}

@keyframes count4 {
  1% {
    content: "1";
  }

  10% {
    content: "9";
  }

  20% {
    content: "12";
  }

  30% {
    content: "19";
  }

  40% {
    content: "23";
  }

  50% {
    content: "27";
  }

  60% {
    content: "33";
  }

  70% {
    content: "36";
  }

  80% {
    content: "40";
  }

  90% {
    content: "45";
  }

  100% {
    content: "49";
  }
}

/* coooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooounters */
.countersec {
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  opacity: 0.9;
}

.countersec .overlay {
  background-color: var(--maincolor);
  position: absolute;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

#counter .ico-circle {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0px auto;
  text-align: center;
  box-shadow: 0 0 0 10px var(--maincolor);
  display: block;
}

.counter-text {
  padding-bottom: 20px;
  z-index: 1;
}

#counter .ico-circle i {
  font-size: x-large;
  padding-top: 0.8rem;
  align-items: center;
  justify-content: center;
}

.counter-box {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-ico {
  padding-bottom: 50px;
  background-color: rgba(13, 13, 12, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------Counter------------------------------- */
/* ------------------------------portfolio------------------------------ */
#portfolio .line-blue {
  height: 3px;
  background-color: var(--maincolor);
  width: 5rem;
  margin: auto;
}

#portfolio .servbox {
  background-color: var(--item-background);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

#portfolio .boxicon-left p span {
  color: var(--maincolor);
}

#portfolio .icon-circle {
  height: 30px;
  width: 30px;
  font-size: 1rem;
  border-radius: 50%;
  margin: 0px auto;
  text-align: center;
  box-shadow: 0 0 0 3px var(--maincolor);
  display: block;
  cursor: pointer;
}

#portfolio .icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#portfolio .boxcontent-img {
  overflow: hidden;
}

#portfolio .boxcontent {
  margin: 0 0;
  padding: 0 0;
}

#portfolio .box p {
  font-size: smaller;
}

#portfolio img {
  width: 100%;
}

#portfolio img:hover {
  scale: 130%;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

@media only screen and (max-width: 1000px) {
  #portfolio .boxcontent .boxicon-left {
    width: 70%;
  }

  #portfolio .boxcontent .boxicon-left h5 {
    font-size: 14px;
  }

  #portfolio .boxcontent .boxicon-left p {
    font-size: 10px;
  }

  #portfolio .boxcontent .boxicon-right {
    width: 30%;
  }
}

/* ------------------------------portfolio------------------------------ */
/* -------------------------------curousel------------------------------ */
.content img {
  width: 100px;
  position: relative;
}

#slidesec {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
}

#slidesec .overlay {
  background-color: var(--maincolor);
  position: absolute;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
}

.carousel-indicators [data-bs-slide-to="0"] {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  border-radius: 50%;
}

.carousel-indicators [data-bs-slide-to="1"] {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  border-radius: 50%;
}

/* -------------------------------curousel------------------------------ */
/* ---------------------------------BLOG-------------------------------- */
#blog .line-blue {
  height: 3px;
  background-color: var(--maincolor);
  width: 80px;
  margin: auto;
}

.blog-sec {
  background-color: var(--main-background);
}

.card-category {
  position: absolute;
  text-align: center;
  top: -28;
  left: 0px;
  right: 0px;
  line-height: 25px;
  overflow: hidden;
}

.card-body {
  background-color: var(--item-background);
}

.category {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  overflow: hidden;
  background-color: var(--maincolor);
  border-radius: 4px;
}

.card-footer img {
  width: 30px;
}

.card-footer {
  position: relative;
  background-color: var(--item-background);
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .card-footer img {
    width: 20px;
    font-size: smaller;
  }
}

/* ---------------------------------BLOG-------------------------------- */
/* --------------------------------Contact------------------------------ */
#contact .overlay {
  background-color: var(--maincolor);
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

#contact {
  background-attachment: fixed;
}

#contact .form-table {
  background-color: var(--item-background);
}

#contact .line-blue {
  height: 3px;
  background-color: var(--maincolor);
  width: 100px;
  margin-left: 2px;
  margin-bottom: 10px;
}

#contact .btn {
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  background: var(--maincolor);
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  border: solid #a3d9fa00 3px;
}

#contact .btn:hover {
  border: solid #a3d9fa 3px;
}

#contact .gettouch ul {
  padding-left: 0;
}

#contact .gettouch ul li {
  padding: 0.3125rem 0px;
}

#contact .gettouch ul li i {
  padding-right: 10px;
  color: var(--maincolor);
  padding-top: 0.3125rem;
}

#contact .icon-circle {
  height: 45px;
  width: 45px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  padding: 5px;
  margin: 0px auto;
  text-align: center;
  box-shadow: 0 0 0 3px var(--maincolor);
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .social-icons ul {
  padding: 10px !important;
  width: 90%;
}


#contact .icon-circle:hover {
  background-color: var(--maincolor);
  box-shadow: 0 0 0 0.1875rem #c4d8ee;
  color: #fff;
}

#contact .icon-circle:hover .icon-circle li i {
  color: #fff;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  #contact .icon-circle {
    height: 30px;
    width: 30px;
    font-size: 1rem;
    margin: 5px;
  }
}


/* --------------------------------Contact------------------------------ */
/* ---------------------------------footer------------------------------ */
footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: var(--maincolor);
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: #fff;
}

/* ---------------------------------footer------------------------------ */
